<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.satisfaction_questionnaire.dao.WebUserMapper">
    <resultMap id="BaseResultMap" type="com.example.satisfaction_questionnaire.entity.WebUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="password" jdbcType="VARCHAR" property="userpassword" />
    </resultMap>

    <select id="getWebUser" resultMap="BaseResultMap">select * from web_user where user_id=#{userId}</select>

    <update id="updatePassWord">update web_user set userpassword = #{userpassword} where user_id =#{userId}</update>
</mapper>
